@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap");

body {
  background-color: #f5f7fa;
  margin: 0%;
}

#app {
  width: 100%;
  max-width: 128rem;
  margin: 0 auto;
}
